opencv-python==4.8.1.78
pytesseract==0.3.10
easyocr==1.7.0
beautifulsoup4==4.12.2
requests==2.31.0
selenium==4.15.2
pyautogui==0.9.54
mss==9.0.1
pillow==10.0.1
numpy==1.24.3
webdriver-manager==4.0.1
google==3.0.0
